/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
* In this file we put all the base variables,
* such as colors, font stacks, etc.
*/
/**
* In this file we put all the typography
* settings.
*/
/* line 8, ../sass/_typography.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 13, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

/* line 18, ../sass/_typography.scss */
h1 {
  font-size: 2.8em;
  line-height: 1.14286em;
}

/* line 22, ../sass/_typography.scss */
h2 {
  font-size: 2.6em;
  line-height: 1.23077em;
}

/* line 25, ../sass/_typography.scss */
h3 {
  font-size: 2.26667em;
  line-height: 1.41176em;
}

/* line 28, ../sass/_typography.scss */
h4 {
  font-size: 1.93333em;
  line-height: 1.65517em;
}

/* line 31, ../sass/_typography.scss */
h5 {
  font-size: 1.6em;
  line-height: 2em;
}

/* line 34, ../sass/_typography.scss */
h6 {
  font-size: 1.2em;
  line-height: 1.33333em;
}

/* line 38, ../sass/_typography.scss */
h1.title {
  font-size: 3.06667em;
  line-height: 1.56522em;
  border-bottom: 1px solid #27aae1;
}

/* line 42, ../sass/_typography.scss */
code {
  font-family: "PT Mono", sans-serif;
  background-color: #27aae1;
  color: white;
}

/* line 47, ../sass/_typography.scss */
p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-size: 0.93333em;
  line-height: 1.71429em;
}

/* line 52, ../sass/_typography.scss */
strong {
  font-weight: 700;
}

/* line 55, ../sass/_typography.scss */
em {
  font-style: italic;
}

/* line 12, ../sass/_grid.scss */
.page {
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 55.3125em) {
  /* line 12, ../sass/_grid.scss */
  .page {
    max-width: 59em;
  }
}

@media (min-width: 55.3125em) {
  /* line 19, ../sass/_grid.scss */
  .banner {
    padding-left: 16.94915%;
  }

  /* line 20, ../sass/_grid.scss */
  .pagenav {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 21, ../sass/_grid.scss */
  .main {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
  /* line 24, ../sass/_grid.scss */
  .main .content {
    width: 69.38776%;
    float: left;
    margin-right: 2.04082%;
  }
  /* line 25, ../sass/_grid.scss */
  .main .summary {
    width: 28.57143%;
    float: right;
    margin-right: 0;
  }
}
/* line 29, ../sass/_grid.scss */
.contentinfo {
  clear: both;
  margin: 0 -1em;
  padding: 0 1em;
}
@media (min-width: 55.3125em) {
  /* line 29, ../sass/_grid.scss */
  .contentinfo {
    margin: 0;
    padding-left: 16.94915%;
    padding-right: 25.42373%;
  }
}
