/* Heading of the article */
header {
	display: block;
	margin-bottom: $row-height*1.1;
}
.social {
	
}

article {
	a {
		border-bottom: 1px dotted $main-color;
	}
	&.photo {

	}
	&.home {
		padding-bottom: $row-height*1.5;
	}
	
}