// Settings

//this is the default number of columns
$total-columns: 5;
//width of each column
$column-width   : 4em;
//space between columns
$gutter-width   : 1em;
//space on the right and left of the grid
$grid-padding   : $gutter-width/3;
//alternative layout breakpoints
$tablet: 8;
$computer: 55em 12;

// Container
header.main {
	@include container($total-columns, $tablet, $computer);
}
.container {
  @include container($total-columns, $tablet, $computer);
}

@include at-breakpoint($tablet){
  .container{
			
  }
	.main_content {
		@include span-columns(6);
	}
	.right_sidebar {
		@include span-columns(2);
	}
}

@include at-breakpoint($computer){+6

  .container{
			
  }
	.main_content {
		@include span-columns(8);
	}
	.right_sidebar {
		@include span-columns(4 omega);
	}
}




.float-left {
	float: left;
}
.float-right {
	float: right;
}