// From the Twitter Bootstrap
.page-numbers {
  display: inline-block;
  margin: $row-height 0;
  border-radius: $border-radius;
}
.page-numbers > li {
  display: inline; // Remove list-style and block-level defaults
}
.page-numbers > li > a,
.page-numbers > li > span {
  float: left; // Collapse white-space
  padding: 4px 12px;
  line-height: $row-height;
  text-decoration: none;
  background-color: $white;
  border-left-width: 0;
	color: $text-color;
	border: 1px solid transparent;
}
.page-numbers > li > a:hover,
.page-numbers span.current  {
  border: 1px solid $main-color;
}
.page-numbers .current > a,
.page-numbers span.current {
  color: $main-color;
  cursor: default;
}
.page-numbers > li:first-child > a,
.page-numbers > li:first-child > span {
  border-left-width: 1px;
  @include border-top-left-radius($border-radius);
}
.page-numbers > li:last-child > a,
.page-numbers > li:last-child > span {
  @include border-top-right-radius($border-radius);
}