$prefixes: ("-webkit-","-moz-", "-o-", "");

@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
        }
    }
}