/**
* In this file we put all the typography
* settings.
*/

// Headings
html {
  font-size: 100%;
  line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font-family;
	font-weight: 700;
}
h1 {
  @include adjust-font-size-to(42px);
	padding-top: 10px;
	padding-bottom: 10px;
}

h2 {
  @include adjust-font-size-to(39px);
	padding-top: 7px;
	padding-bottom: 7px;
}
h3 {
  @include adjust-font-size-to(34px);
}
h4 {
  @include adjust-font-size-to(29px);
}
h5 {
  @include adjust-font-size-to(24px);
}
h6 {
  @include adjust-font-size-to(18px);
}

h1.title {
	@include adjust-font-size-to(46px);
	border-bottom: 1px solid $main-color;
	color: $main-color;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	@include text-shadow($grey 1px 2px 1px);
}
code {
	font-family: $monospace-font-family;
	background-color: $main-color;
	color: $white;
}
p {
	font-family: $body-font-family;
	font-weight: 500;
	@include adjust-font-size-to(14px);
	color: $text-color;
}
a {
	font-family: $body-font-family;
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted $main-color;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
/* Variations on the color */

.text-complementar {
	color: $main-color-complementar;
}
