/**
* In this file we put all the base variables,
* such as colors, font stacks, etc.
*/

// Colors
$text-color: rgba(56,56,56,1); 
$main-color: rgba(31,131,181,1);
$main-color-complementar: rgba(71,143,58,1);
$neutral-color: rgba(109,56,56,1);
$white: rgba(255,255,255,1);
$dark-grey: rgba(133,133,133,1);
$grey: rgba(229,231,234,1);
$light-grey: rgba($grey,0.4);

// Borders
$border-radius: 3px;
$border-color:	$main-color;



//Typography
$base-font-size: 15px;
$base-line-height: 24px;

$paragraph-font-size: 13px;

$row-height: 1.2em;

$font-weight-normal: 400;
$font-weight-bold: 700;

$heading-font-family: 'Libre Baskerville', serif;
$body-font-family: 'Libre Baskerville', serif;
$monospace-font-family: 'PT Mono', sans-serif;